/*
Name: UW Cvent Advanced CSS
Repository: https://github.com/UWAA/uw-cvent-advanced
For use with the CVENT event management platform (http://www.cvent.com)
*/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700);



html {
    height: 100%;
}
body {
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
    background: url(https://custom.cvent.com/26231C5B593E4CBCB402B7CC246F5308/pix/96ad9722c29248559e8281baa4407ca5.png) center 0 repeat-x #ffffff;
    font-size: 69.5%;
}
div.container-1 {
    min-width: 950px;
    width: 100%;
}
/* Typography
-------------------------------------------------------------- */
/* Headings */

h1 img,
h2 img,
h3 img,
h4 img,
h5 img,
h6 img {
    margin: 0;
}
div.single-column h1 {
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.5em;
    color: #4b2e83;
    overflow: hidden;
    text-align: left !important;
}
div.single-column h1:after {
    content: "";
    display: block;
    width: 120px;
    height: 7px;
    background-color: #b7a57a;
    transform: skew(-15deg,0);
    -webkit-transform: skew(-15deg,0);
    -moz-transform: skew(-15deg,0);
    margin: 5px 0 40px -30px;
}
div.two-column h1 {
    margin-bottom: 30px;
    width: 100%;
    font-size: 3.2em;
    text-align: left;
    clear: both;
}
h2.section-header {
    margin: 0 0 10px;
    padding-bottom: 1px;
    font-size: .9em;
    font-weight: bold;
    color: #4b2e83;
}
.wide h2.section-header {
    background: url(images/section_header_wide.png) bottom left no-repeat;
}
.normal h2.section-header {
    background: url(images/section_header_normal.png) bottom left no-repeat;
}
h2.section-header span {
    display: block;
    width: 98%;
    font-size: 1.8em;    
    font-weight: 900;
    margin-top: 20px;
}

input {
    padding: 9px;
}


h1, h2, h3, h4, li, a, p {
     font-family: 'Open Sans', sans-serif !important;
}

h1 {
    color: #303030;
}
h2 {
    font-weight: bold;
    font-size: 1.2em;
}
h3 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1em;
}
h4 {
    font-size: 1.15em;
    line-height: 1.25;
    margin-bottom: 1.25em;
}
h5 {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 1.5em;
}
h6 {
    font-size: 1em;
    font-weight: bold;
}
/* Text elements */

p {
    line-height: 1.5em;
    margin-top: 15px;
}
p img.left {
    float: left;
    margin: 1.5em 1.5em 1.5em 0;
    padding: 0;
}
p img.right {
    float: right;
    margin: 1.5em 0 1.5em 1.5em;
}
/* Hyperlinks */

a {
    color: #303030;
    text-decoration: underline;
}
a:hover {
    text-decoration: none;
}
div.invitation {
    padding-top: 20px;
}
.EvtProcessing p,
.EvtProcessing span,
.EvtProcessing img {
    color: #000;
}
.HoverContainer a span {
    color: #000;
}


.register-btn-bottom * {
    background-image: none !important;
}
table td.grButtonMid {
    background-color: #b7a57a;
    transition: all .1s linear;   
    -webkit-transition: all .1s linear;   
}
table td.grButtonMid:hover {
    background-color: #8E7D55;   
}
.register-btn-bottom td {
    width: auto !important;
}
a#ctl00_btnRegBottom {
    background-color: #4b2e83;
    padding: 11px 30px;
    color: #FFF;
    display: block;
    margin-right: 40px;
    position: relative;
    transition: all .1s linear;
    -webkit-transition: all .1s linear;  
}
a#ctl00_btnRegBottom:hover {
    background-color: #b7a57a;
    padding: 11px 30px;
    color: #FFF;
    display: block;
}
a#ctl00_btnRegBottom:after {
    content: "❯";
    position: absolute;
    right: -23px;
}


/* Layout
-------------------------------------------------------------- */

div.normal div.main {
    width: 530px;
}
div.normal div.container-4 {
    background: none;
}
div.normal div.container-4.iframe {
    background: none
}
div.wide div.main {
    width: 686px;
}
div.wide div.container-4 {
    background: none;
    margin-top: 35px;
}
div.wide div.container-4.iframe {
    background: none
}
div.header {
    overflow: hidden;
    margin-top: 20px;
}
div.two-column.normal div.content {
    width: 790px;
    float: left;
}
div.two-column.wide div.content {
    width: 946px;
    float: left;
}
div.two-column div.main {
    padding: 20px;
}
/* Header */

div.header-bar {
    background: transparent;
    text-transform: uppercase;
    box-shadow: none;
    position: absolute;
}
div.header-bar ul li a {
    line-height: 1.4em;
    padding: 10px 15px;
    color: #303030;
}
div.header-bar ul li.last a {
    color: #FFF;
}
div.header-bar ul li a:hover {
    color: #b7a57a;
}

.dd-list dt a:hover {
    color: #4b2e83;
}
.dd-list dd ul,
.sf-menu.follow-us ul li,
.sf-menu.follow-us ul li a,
.sf-menu.follow-us li.sfHover {
    background: #CBCBCB;
}
.dd-list dd ul li a:hover,
.sf-menu.follow-us ul li a:hover {
    background: #4b2e83;
    color: #FFF;
}
.dd-list dd ul li {
    border-bottom: 1px solid #ddd;
}
div.header-bar a.grButtonText {
    background: #fff;
    margin: 7px 10px;
    padding: 3px 8px;
    line-height: 1.5em;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
div.header-bar div.arrow,
.sf-menu.follow-us span.sf-sub-indicator {
    border-width: 5px 5px 0;
    border-style: solid;
    height: 0;
    left: 90px;
    top: 14px;
    padding-top: 0;
    position: absolute;
    width: 0;
    border-color: #303030 #CBCBCB #CBCBCB;
}
div.header-bar div.shadow {
    background: none;
}
div.single-column div.header {
    width: 100%;
    /* min-height: 70px; */
    margin-top: 132px;
    position: relative;
    background: transparent !important;
}
div.two-column div.header {
    min-height: 70px;
}
div.two-column div.register {
    height: 30px;
}
div.two-column.right div.register table {
    position: relative;
    top: 40px;
    right: 210px;
    z-index: 999;
}
div.two-column.left div.register table {
    position: relative;
    top: 40px;
    right: 10px;
    z-index: 999;
}
div.two-column.split-nav div.register table {
    top: 100px;
}
div.single-column.subnav div.register {
    position: absolute;
    right: 0;
    margin-bottom: 85px;
    z-index: 1000;
}
div.two-column.normal div.top {
    width: 770px;
}
div.two-column.wide div.top {
    width: 926px;
}
#TableHeader tr td {
    background: #FDFDD7 !important;
}
/* Single Column */

div.single-column.normal div.content {
    width: 770px;
    background: transparent !important;
    margin: 0 10px;
    float: left;
    position: relative;
}
div.single-column.wide div.content {
    width: 926px;
    background: transparent;
    margin: 0 10px;
    float: left;
    position: relative;
}
div.single-column div.container-4.iframe div.content {
    border-left: none;
    border-right: none;
}
div.single-column div.top {
    width: 100%;
    float: left;
    position: relative;
}
div.single-column div.middle {
    padding: 20px 20px 10px;
    clear: both;
}
div.single-column div.social-media ul.icons {
    margin: 10px;
    list-style: none;
    float: right;
}
div.single-column div.social-media ul.icons li {
    width: 90px;
    margin-left: 10px;
    float: right;
    text-align: center;
}
div.single-column div.breadcrumb {
    width: 100%;
    clear: both;
    position: relative;
    margin-bottom: 20px;
}
div.single-column div.breadcrumb ul {
    list-style: none;
    float: left;
}
div.single-column div.breadcrumb ul li {
    padding: 2px 5px 0 15px;
    float: left;
    display: inline;
    background: url(images/breadcrumb-bg.png) left 6px no-repeat;
}
div.single-column div.breadcrumb ul li a {
    padding: 0 8px 0 0;
    text-decoration: none;
}
div.single-column div.breadcrumb ul li a:hover {
    text-decoration: underline;
}
/* Two Column */

div.two-column div.social-media ul.icons {
    margin-left: 10px;
    padding: 40px 0;
    list-style: none;
    float: right;
}
div.two-column.normal div.middle {
    width: 770px;
    padding: 0;
    margin: 0 10px 20px 10px;
    float: left;
}
div.two-column.wide div.middle {
    width: 926px;
    padding: 0;
    margin: 0 10px 20px 10px;
    float: left;
}
div.two-column.left.wide div.middle {
    background: url(/g/CSS/themes/252/images/two-col-left-wide.png) repeat-y;
}
div.two-column.left.normal div.middle {
    background: url(/g/CSS/themes/252/images/two-col-left-normal.png) repeat-y;
}
div.two-column.right.wide div.middle {
    background: url(/g/CSS/themes/252/images/two-col-right-wide.png) repeat-y;
}
div.two-column.right.normal div.middle {
    background: url(/g/CSS/themes/252/images/two-col-right-normal.png) repeat-y;
}
/* Two Column Left Sidebar */

div.two-column.left div.top {
    margin: 0 10px;
}
div.two-column.left div.main {
    margin: 0 0 0 20px;
    float: left;
    position: relative;
    /* [disabled]z-index: 10; */
}
div.two-column.left div.sidebar {
    margin: 0;
    width: 180px;
    font-size: 11px;
    float: left;
    position: relative;
    z-index: 20;
}
div.two-column.left div.breadcrumb {
    width: 100%;
    padding: 0 0 0 10px;
    margin: -10px 0 20px -10px;
    float: left;
}
div.two-column.left div.breadcrumb ul {
    list-style-type: none;
}
div.two-column.left div.breadcrumb li {
    padding: 6px 10px 5px 15px;
    background: url(images/breadcrumb-bg.png) no-repeat left;
    float: left;
    display: inline;
}
div.two-column.left div.breadcrumb a {
    text-decoration: none;
}
div.two-column.left div.breadcrumb a:hover {
    text-decoration: underline;
}
div.two-column.left div.split-navigation {
    background: #bbbbbb;
}
/* Two Column Right Sidebar */

div.two-column.right div.top {
    margin: 0 10px;
}
div.two-column.right div.main {
    margin: 0 -180px 0 0;
    float: left;
    position: relative;
    z-index: 10;
}
div.two-column.right div.sidebar {
    margin: 0;
    width: 180px;
    font-size: 11px;
    float: right;
    position: relative;
    z-index: 20;
}
div.two-column.right div.breadcrumb {
    width: 100%;
    padding: 0 0 0 10px;
    margin: -10px 0 20px -12px;
    float: left;
}
div.two-column.right div.breadcrumb ul {
    list-style-type: none;
}
div.two-column.right div.breadcrumb li {
    padding: 6px 10px 5px 15px;
    background: url(images/breadcrumb-bg.png) no-repeat left;
    float: left;
    display: inline;
}
div.two-column.right div.breadcrumb a {
    text-decoration: none;
}
div.two-column.right div.breadcrumb a:hover {
    text-decoration: underline;
}
div.two-column.right div.split-navigation {
    background: #bbbbbb;
}
/* Navigation
-------------------------------------------------------------- */

div.single-column div.navigation {
    width: 100%;
    float: left;
    position: absolute;
    top: 33px;
    margin-bottom: 30px;
}
div.single-column.normal ul.sf-navbar ul {
    width: 770px;
}
div.single-column.wide ul.sf-navbar ul {
    width: 926px;
}
ul.sf-menu {
    background: #595959;
    font-size: 11px !important;
}
ul.sf-menu.sf-navbar {
    background: none;
}
ul.sf-menu a {
    padding: 10px;
    color: #fff;
    text-decoration: none;
}
.dropdown ul.sf-menu a {
    font-size: 1.2em;
}
.dropdown ul.sf-menu li li a:hover {
    padding: 10px 10px 4px;
}
ul.sf-menu li {
    background: #595959;
    /*border-right: 2px solid #cdcdcd;
    border-left: 1px solid #3c3c3c;*/
}
.two-column ul.sf-menu li {
    border-left: none;
    border-right: none;
}
.dropdown ul.sf-menu li li {
    background: #cbcbcb;
    border-right: none;
    border-left: none;
    border-top: 1px solid #303030;
    border-bottom: 2px solid #ffffff;
}
ul.sf-menu li li a {
    border-right: none;
    color: #fff;
}
.dropdown ul.sf-menu li li a {
    font-size: 1em;
}
ul.sf-menu li li li {
    background: #b8252b;
    border: none;
}
ul.sf-menu li:hover a {
    color: #fff;
}
ul.sf-menu li:hover li a {
    color: #303030;
}
ul.sf-menu li:hover,
ul.sf-menu li.sfHover,
ul.sf-menu a:focus,
ul.sf-menu a:hover,
ul.sf-menu a:active {
    background: #595959;
    outline: 0;
    color: #fff;
    text-decoration: none;
}
ul.sf-menu li li,
ul.sf-menu li li:hover,
ul.sf-menu li li a:hover {
    background: #cbcbcb;
}
ul.sf-menu li li a:hover {
    /*border-bottom: 6px solid #4b2e83;*/
    color: #4b2e83 !important;
}
ul.sf-navbar ul {
    padding: 0 !important;
}
ul.sf-navbar li {
    /*background: #595959;
    border-right: 2px solid #f1f1f1;
    border-left: 1px solid #494949;
    padding-left: 8px;*/
}
ul.sf-navbar li a {
    background: #595959;
    border-top: none;
    color: #fff;
}
ul.sf-menu.sf-navbar a:hover {
    text-decoration: underline;
}
ul.sf-menu.sf-navbar li li {
    background: none;
}
ul.sf-menu.sf-navbar a {
    border: none;
    color: #fff;
}
ul.sf-menu.sf-navbar li.current a {
    color: #fff;
}
ul.sf-menu.sf-navbar li:hover,
ul.sf-menu.sf-navbar li.sfHover,
.sf-menu.sf-navbar li.current {
    /*padding-left: 8px;*/
    
    /*background: #cbcbcb;*/
}
ul.sf-menu.sf-navbar li li.current,
.sf-menu.sf-navbar li li.current:hover {
    /*border-right: 2px solid #e5e5e5;
    border-left: 1px solid #494949;*/
}
ul.sf-menu.sf-navbar li li.current a {
    background: #fff;
}
ul.sf-menu.sf-navbar a:focus,
ul.sf-menu.sf-navbar a:hover,
ul.sf-menu.sf-navbar a:active {
    background: #cbcbcb;
    color: #303030;
    text-decoration: none;
}
ul.sf-menu.sf-navbar ul li:hover,
ul.sf-menu.sf-navbar ul li:hover li,
ul.sf-menu.sf-navbar ul li.sfHover li,
.sf-menu.sf-navbar ul a:focus,
.sf-menu.sf-navbar ul a:hover,
.sf-menu.sf-navbar ul a:active {
    background: none;
}
ul.sf-menu.sf-navbar li li li:hover,
ul.sf-menu.sf-navbar li li li.sfHover,
.sf-menu.sf-navbar li li.current li.current,
ul.sf-menu.sf-navbar ul li li a:focus,
ul.sf-menu.sf-navbar ul li li a:hover,
ul.sf-menu.sf-navbar ul li li a:active {
    background: none;
}
ul.sf-menu.sf-navbar .current ul,
ul.sf-menu.sf-navbar ul li:hover ul,
ul.sf-menu.sf-navbar ul li.sfHover ul {
    left: 0;
    top: 2.3em;
}
/* match top ul list item height */

ul.sf-menu.sf-navbar .current ul ul {
    top: -999em;
}
ul.sf-menu.sf-navbar li li.current > a {} 
ul.sf-menu.sf-navbar li ul {
}
ul.sf-menu.sf-navbar li.sf-breadcrumb.sfHover a,
.sf-menu.sf-navbar .sfHover a {
    position: relative;
    background: #cbcbcb;
    color: #4b2e83;
}
ul.sf-menu.sf-navbar li.sf-breadcrumb.sfHover a:after,
.sf-menu.sf-navbar .sfHover a:after {
    position: absolute;
    content: "";
    width: 1px;
    height: 26px;
    top: 8px;
    left: 0;
    background-color: #D2D2D2;    
    transform: skew(-15deg,0);
    -webkit-transform: skew(-15deg,0);
    -moz-transform: skew(-15deg,0);
}
ul.sf-menu.sf-navbar li li:first-child a:after {
    display: none;
}

ul.sf-menu.sf-navbar li ul li {
    /*padding-left: 8px;*/
}
ul.sf-menu.sf-navbar li.sfHover ul li.current a {
    color: #b7a57a;
    /*border-bottom: 6px solid #4b2e83;*/
    padding: 10px 10px 5px;
}
ul.sf-menu.sf-navbar li.sfHover ul li a,
ul.sf-menu.sf-navbar li.sf-breadcrumb.sfHover ul li a,
ul.sf-menu.sf-navbar li li a,
ul.sf-menu.sf-navbar li.current a.tabs {
    background: none;
}
ul.sf-menu.sf-navbar li.subnav-register ul li {
    border: none;
}
/* Follow Us Bar - Specific */

ul.sf-menu li:hover a {
    color: #303030;
}
ul.sf-menu.follow-us li,
ul.sf-menu.follow-us li:hover {
    border: none;
    color: #4b2e83;
}
ul.sf-menu.follow-us li:hover,
ul.sf-menu.follow-us li.sfHover,
ul.sf-menu.follow-us a:focus,
ul.sf-menu.follow-us a:hover,
ul.sf-menu.follow-us a:active {
    background: #cbcbcb;
}
ul.sf-menu.follow-us li li {
    border-top: none;
    border-bottom: none;
    background: #5D98CA;
}
ul.sf-menu.follow-us li li a {
    border-bottom: 1px solid #ddd;
}
ul.sf-menu.follow-us li li a:hover {
    color: #fff !important;
    background: #4b2e83;
}
.dropdown ul.sf-menu.follow-us li li a:hover {
    padding: 10px 15px;
}
/* Two Column Sidebar */

div.two-column.left div.navigation {
    background: #595959;
}
div.two-column.right div.navigation {
    background: #595959;
}
div.two-column div.navigation ul {
    list-style-type: none;
    padding: 0;
}
div.two-column div.navigation ul li {
    padding: 0;
}
div.two-column div.navigation ul li a {
    font-size: 1.2em;
    padding: 8px;
    background: #595959;
    font-weight: normal;
    color: #fff;
    text-decoration: none;
    display: block;
    border-bottom: 2px solid #fdfdfd;
    zoom: 1;
    /* triggers hasLayout in IE7 */
}
div.two-column div.navigation ul li li a {
    background: #cbcbcb;
    color: #303030;
    font-weight: normal;
    font-size: 1em;
    border-bottom: none;
    zoom: 1;
    /* triggers hasLayout in IE7 */
}
div.two-column div.navigation ul li li {
    border-bottom: 2px solid #fdfdfd;
    border-top: 1px solid #303030;
}
div.two-column.left div.navigation ul li li a:hover,
div.two-column.left div.navigation ul li li.current a {
    color: #b7a57a;
    border-left: 6px solid #4b2e83;
    /*text-indent: -6px;*/
}
div.two-column.right div.navigation ul li li a:hover,
div.two-column.right div.navigation ul li li.current a {
    color: #b7a57a;
    /*border-left: 6px solid #4b2e83;*/
    text-indent: -6px;
}
ul.sf-vertical li a {
    border-right: none;
}
/* Split Navigation */

div.split-nav div.navigation {
    margin: 0 10px 20px !important;
    height: 3.2em;
    font-size: 11px;
}
div.split-nav div.navigation ul {
    list-style-type: none;
}
div.split-nav div.navigation li {
    float: left;
}
div.split-nav div.navigation li.current {
    background: #000;
    color: #fff;
}
div.split-nav div.navigation li.current a {
    color: #fff;
}
div.split-nav div.navigation ul li a {
    border-right: 2px solid #cdcdcd;
    border-left: 1px solid #303030;
    padding: 10px 10px 9px 10px;
    color: #fff;
    display: block;
    text-decoration: none;
    text-indent: 0;
    border-bottom: none;
    border-top: none;
}
div.split-nav ul.sub-menu {
    list-style-type: none;
}
div.split-nav ul.sub-menu li {
    border-bottom: 2px solid #f1f1f1;
    border-top: 1px solid #303030;
}
div.split-nav ul.sub-menu a {
    padding: 8px 10px;
    background: #cbcbcb;
    display: block;
    text-decoration: none;
    color: #303030;
    font-size: 1em;
}
div.split-nav ul.sub-menu a:hover,
div.split-nav ul.sub-menu li.current a {
    background: #cbcbcb;
    display: block;
    border-left: 6px solid #4b2e83;
    color: #4b2e83;
    text-indent: -6px;
}
/* Summary Page
-------------------------------------------------------------- */

div.when,
div.where,
div.planner,
div.capacity,
div.websites {
    width: 100%;
    margin: 0 0 20px;
    padding: 0 0 10px;
    float: left;
    border-bottom: 1px dotted #464646;
}
ul.details {
    width: 55%;
    list-style-type: none;
    float: left;
}
ul.icons {
    width: 44%;
    list-style-type: none;
    float: left;
}
div.websites ul.details {
    width: 99%;
}
div.websites ul.details p {
    margin-bottom: 15px;
}
ul.details li {
    width: auto;
    margin-right: 10px;
}
ul.details h3 {
    margin: 0;
    line-height: 1em;
    font-size: 1em;
    font-weight: bold;
}
ul.details p {
    margin: 0;
    line-height: 1.5em;
}
ul.icons li {
    width: 90px;
    float: right;
    text-align: center;
}
ul.icons p {
    margin: 5px 0 0 0;
    line-height: 1em;
}
div.summary-2.content {
    width: 70% !important;
    border: none !important;
}
div.summary-2.content h1 {
    text-align: left;
}
div.summary-2.details {
    width: 25%;
    margin-left: 15px;
    float: left;
}
div.layout-1 .container-6 {
    background: url(images/details_border_left.png) 0 10px no-repeat;
}
.normal div.layout-2 .container-6 {
    background: url(images/details_border_left.png) 215px 10px no-repeat;
}
.two-column.normal div.layout-2 .container-6 {
    background: url(images/details_border_left.png) 155px 10px no-repeat;
}
.wide div.layout-2 .container-6 {
    background: url(images/details_border_left.png) 270px 10px no-repeat;
}
.two-column.wide div.layout-2 .container-6 {
    background: url(images/details_border_left.png) 210px 10px no-repeat;
}
.container-6 h3 {
    color: #4b2e83;
    margin-bottom: 5px;
    border-bottom: none !important;
    background: url(images/details_underline.png) bottom left no-repeat !important;
    font: 1.1em Georgia, "Times New Roman", Times, serif;
    text-transform: uppercase;
}
div.layout-2 .container-6 p {
    padding-right: 10px;
}
/* Fees Page
-------------------------------------------------------------- */

div.fees h3 {
    border-bottom: 1px solid #666;
}
ol.fee-items.stepped div {
    margin: 0 0 10px;
    width: 100%;
}
ol.fee-items.stepped h4 {
    font-size: 1em;
    font-weight: bold;
}
ol.fee-items.stepped span {
    font-weight: bold;
    text-indent: 20px;
    color: #000;
}
ol.fee-items.stepped table {
    width: 100%;
}
ol.fee-items.stepped th,
ol.fee-items.stepped td {
    text-indent: 20px;
}
ol.fee-items.stepped td {
    padding: 5px 0;
    border-bottom: 1px dotted #666;
}
/* Grid Details Right */

ol.fee-items.grid-right li {
    margin: 0 0 20px;
}
ol.fee-items.grid-right h4 {
    margin: 0 0 5px 0;
    font-size: 1em;
    font-weight: bold;
}
ol.fee-items.grid-right span {
    margin: 0 0 5px 0;
}
ol.fee-items.grid-right table {
    width: 100%;
}
ol.fee-items.grid-right td {
    padding: 5px 0;
    border-bottom: 1px dotted #666;
}
/* Grid Details Bottom */

ol.fee-items.grid-bottom div.contact-type {
    padding: 5px 0;
    background: #CBCBCB;
}
ol.fee-items.grid-bottom h4 {
    padding: 0 0 0 10px;
    font-weight: bold;
    font-size: 1em;
}
ol.fee-items.grid-bottom span {
    margin: 0 10px;
}
ol.fee-items.grid-bottom li {
    margin: 0 0 10px;
}
ol.fee-items.grid-bottom table {
    width: 100%;
}
ol.fee-items.grid-bottom th {
    padding: 0 10px;
}
ol.fee-items.grid-bottom td {
    padding: 5px 20px;
    border-bottom: 1px dotted #666;
}
/* FAQs Page
-------------------------------------------------------------- */

ul.faq-event-questions {
    padding: 0 0 0 15px;
    margin: 0 0 15px 0;
}
table.faq-questions-table {
    margin: 0 0 15px 0;
}
table.faq-individual-questions {
    margin: 0 0 10px 0;
}
table.faq-individual-questions tr td.faq-table-label {
    width: 10%;
    text-align: right;
    padding: 0 20px 0 0;
    vertical-align: top;
}
table.faq-individual-questions tr td.faq-question {
    font-weight: bold;
}
table.faq-individual-questions tr td.faq-top-link {
    text-align: right;
}
/* Buttons
-------------------------------------------------------------- */

div.btns-container {
    text-align: right;
    margin: 0 0 15px 0;
}
div.btn {
    background: #181A1B;
    display: inline;
    padding: 5px;
}
div.btn a {
    color: #fff;
    text-decoration: none;
}
/* Tables and Grids
-------------------------------------------------------------- */

table.grid {
    width: 100%;
    background: transparent;
}
table.grid tr.alternate-row {
    background: #cbcbcb;
}
table.grid th {
    background: #transparent;
}
table.grid th a {
    padding-right: 10px;
    font-weight: bold;
    display: block;
}
table.grid tbody tr:hover {
    background: #989898;
}
.ListRowBgrd1 {
    background: #fff;
}
.ListRowBgrd2 {
    background: #fff;
}
img#HeaderImage {
    display: none;
}
/*Travel Styles*/

.travel {
    margin-bottom: 10px;
}
.travel td {
    vertical-align: top;
}
div.travel div.travel div.details td {
    border-bottom: 1px dotted #666;
    padding: 3px;
}
.travel th {
    font-weight: bold;
    background: #F6D965;
    padding: 3px;
}
.info {
    text-align: right;
    padding-right: 10px;
}
div.middle.travel {
    margin-bottom: 0;
}
/*Summary Styles*/

div.layout-1 li.when,
div.layout-1 li.where,
div.layout-1 li.planner,
div.layout-1 li.capacity,
div.layout-1 li.websites {
    margin: 0 0 10px;
    padding: 10px 10px 10px 20px;
}
/*My Reg & Travel
---------------------------------------------------------------*/

.travel {
    margin-bottom: 10px;
}
.travel td {
    vertical-align: top;
}
div.travel div.travel div.details td {
    border-bottom: 1px dotted #666;
    padding: 3px;
}
.details .calendar {
    padding-left: 2px;
    vertical-align: bottom;
}
.travel th {
    font-weight: bold;
    background: #CBCBCB;
    padding: 3px;
}
.info {
    text-align: right;
    padding-right: 10px;
}
.alignRight {
    text-align: right;
}
td.total {
    font-weight: bold;
    border-bottom: none;
}
table.details {} ul.buttons {
    list-style-type: none;
    height: 50px;
}
ul.buttons li {
    float: left;
}
p.invitee,
p.snacks {
    margin: 0;
    padding: 10px 0 0 0;
}
li.question {
    font-weight: bold;
    background: #CBCBCB;
}
li.question,
li.answer {
    padding: 3px;
}
p.invitee {
    font-weight: bold;
}
p.snacks {
    font-weight: bold;
    font-style: italic;
}
ul.myAnswers,
ul.myAnswers li ul {
    list-style-type: none;
    width: 100%;
}
ul.myAnswers li {
    border: 1px solid #666;
    margin-bottom: 5px;
}
ul.myAnswers li ul li {
    border: none;
    margin: 0;
}
td.add {
    border-bottom: none;
}
/*Agenda
---------------------------------------------------------------*/

.item table {
    border: 1px solid #808080;
}
li.date {
    border-top: 1px dotted #b0b0b0;
}
.category li.date {
    border-bottom: 1px dotted #C0F0C0;
}
div.backToTop {
    background: #dfdfdf;
    color: #484343;
    border: 1px solid #484343;
    border-right: none;
    font-size: 1.5em;
}
.arrow {
    border-color: #dfdfdf #dfdfdf #484343 #dfdfdf;
}
/* Pop Ups
---------------------------------------------------------------*/

form {
    display: inline;
}
div.pop-up {
    height: auto;
    min-height: 100%;
    width: 100%;
    background: #fff;
}
div.pop-up div.container-2.session-view {
    margin: 0 auto;
    width: 380px;
}
div.pop-up div.button {
    margin: 10px 0;
    display: block;
    text-align: center;
}
div.pop-up div.button input {
    padding: 3px;
    width: auto;
}
div.pop-up table {
    width: 100%;
    color: #5D98CA;
}
div.pop-up table th,
div.pop-up table td {
    vertical-align: top;
    padding: 5px 0;
    text-align: left;
}
div.pop-up h2.section-header {
    text-align: left;
}
div.pop-up h3 {
    margin: 0;
}
div.pop-up h3.session-name span.code {
    font-weight: normal;
}
div.pop-up div.container-2.session-view table th {
    width: 135px;
}
div.pop-up div.container-2.session-view h3.session-category {
    text-align: left;
}
div.pop-up div.container-2.session-view p {
    text-align: left;
}
div.pop-up.address-helper table th {
    padding: 5px;
    text-align: right;
    padding-left: 30px;
    font-weight: bold;
    width: 320px;
    vertical-align: top;
}
div.pop-up.address-helper table th.business-category {
    padding: 5px;
    padding-left: 50px;
    text-align: left;
    width: 300px;
}
div.pop-up.address-helper table.address-table {
    width: 100%
}
div.pop-up.address-helper tr.address-row td {
    padding: 5px;
}
div.pop-up.address-helper div.container-2 {
    margin: 0 auto;
    width: 700px;
}
div.pop-up div.container-2.single-choice {
    margin: 0 auto;
    width: 380px;
}
div.pop-up div.pager {
    margin: 10px 0;
    text-align: right;
}
div.pop-up div.container-2.single-choice h2.section-header {
    text-align: center;
}
div.pop-up div.search {
    margin: 10px 0;
}
table.grid.single-choice th {
    text-align: left;
}
/* For buttons
-------------------------------------------------------------- */

td.grButtonMid {
    background: #000000;
}
a.grButtonText {
    color: #303030;
    text-transform: uppercase;
    text-decoration: none;
}
.register {
    margin-right: -10px;
}
span.button {
    background: #000000;
}
/* future 7.0 class do not delete */

span.button a {
    color: #FFFFFF;
}
/* future 7.0 class do not delete */

div.content {
    min-height: inherit;
}
div.copyright table,
div.copyright .cvent-footer-wrapper {
}
div.copyright table table {
    background: none;
}
div.two-column div.copyright table {
    background: none;
}
.container-4 {} div.content ul.sf-navbar {
    padding-left: 0;
}
div.layout-1 h3,
div.layout-2 h3 {
    padding: 0 !important;
}
div.layout-2 ul.container-6 {
    width: 31% !important;
}
ul.sf-menu.sf-navbar li a {
    font-weight: 900; 
    text-transform: uppercase; 
    font-size: 1.5em !important;
}
ul.sf-menu.sf-navbar li li a {
    font-size: 1em;
}
ul.sf-menu.sf-navbar li li a:hover {
    text-decoration: none;

    /*border-bottom: 6px solid #4b2e83;*/
    color: #b7a57a !important;
    padding: 10px 10px 5px;
}
ul.sf-menu li:hover ul,
ul.sf-menu li.sfHover ul {
    height: 3.1em;
    top: 3.1em !important;
}
.two-column ul.sf-menu li:hover ul,
.two-column ul.sf-menu li.sfHover ul {
    height: 3.1em;
    top: 0;
}
div.single-column div.copyright.cvent-footer {
    margin: 0 auto;
}
div.single-column div.bottom {
    padding-top: 0;
}
/*scrollbar styles*/

.wide #content-scroll {
    width: 885px;
}
.wide #scrollbar {
    margin-left: -445px !important;
    width: 884px;
}
.wide #content-slider {
    width: 865px;
}
.normal #content-scroll {
    width: 730px;
}
.normal #scrollbar {
    margin-left: -365px !important;
    width: 728px;
}
.normal #content-slider {
    width: 709px;
}
.two-column.left.normal #content-scroll {
    width: 530px;
}
.two-column.left.normal #scrollbar {
    margin-left: -165px !important;
    width: 528px;
}
.two-column.left.normal #content-slider {
    width: 509px;
}
.two-column.left.wide #content-scroll {
    width: 685px;
}
.two-column.left.wide #scrollbar {
    margin-left: -245px !important;
    width: 683px;
}
.two-column.left.wide #content-slider {
    width: 664px;
}
.two-column.right.normal #content-scroll {
    width: 530px;
}
.two-column.right.normal #scrollbar {
    margin-left: -365px !important;
    width: 528px;
}
.two-column.right.normal #content-slider {
    width: 509px;
}
.two-column.right.wide #content-scroll {
    width: 685px;
}
.two-column.right.wide #scrollbar {
    margin-left: -445px !important;
    width: 683px;
}
.two-column.right.wide #content-slider {
    width: 664px;
}
/*Scrollbar Marigin Classes*/

.two-column.left.wide #scrollbar.leftWide {
    margin-left: -344px !important;
}
.two-column.left.normal #scrollbar.leftNormal {
    margin-left: -265px !important;
}
.two-column.right.wide #scrollbar.rightWide {
    margin-left: -344px !important;
}
.two-column.right.normal #scrollbar.rightNormal {
    margin-left: -265px !important;
}
/*Reg Summary Page
-------------------------------------------------------------- */

div.reg-summary-left-column ul li {
    border-bottom: solid 1px #303030;
}
div.sub-headers {
    border-bottom: 2px solid #4b2e83;
}
div.sub-headers h2 {
    color: #4b2e83;
}
div.reg-summary-main-content h3 {
    color: #303030;
}
div.reg-summary-rows {
    border-bottom: solid 1px #C0C0C0;
}
table.reg-summary-table tr th {
    border-bottom: solid 1px #4b2e83;
}
table.reg-summary-table tr td {
    border-bottom: 1px solid #4b2e83;
    border-right: solid 1px #4b2e83;
    border-left: solid 1px #4b2e83;
}
table.reg-summary-table tr td.first {
    border-left: solid 1px #4b2e83;
}
/* Share Bar 
----------------------------------------------------------------*/

div.single-column.normal div.share-bar.vertical.left {
    float: none;
    left: -45px;
    position: absolute;
}
div.single-column.normal div.share-bar.vertical.right {
    float: none;
    left: 770px;
    position: absolute;
}
div.two-column.normal.left div.share-bar.vertical.right {
    float: none;
    position: absolute;
    right: -45px;
}
div.two-column.normal.left div.share-bar.vertical.left {
    float: none;
    left: -245px;
    position: absolute;
}
div.two-column.normal.right div.share-bar.vertical.left {
    float: none;
    left: -45px;
    position: absolute;
}
div.two-column.normal.right div.share-bar.vertical.right {
    float: none;
    position: absolute;
    right: -245px;
}
div.single-column.wide div.share-bar.vertical.right {
    float: none;
    left: 926px;
    position: absolute;
}
div.single-column.wide div.share-bar.vertical.left {
    float: none;
    left: -45px;
    position: absolute;
}
div.two-column.wide.left div.share-bar.vertical.left {
    float: none;
    left: -245px;
    position: absolute;
}
div.two-column.wide.left div.share-bar.vertical.right {
    float: none;
    position: absolute;
    right: -45px;
}
div.two-column.wide.right div.share-bar.vertical.right {
    float: none;
    position: absolute;
    right: -245px;
}
div.two-column.wide.right div.share-bar.vertical.left {
    float: none;
    left: -45px;
    position: absolute;
}
/*Registration Matrix Redesign
----------------------------------------------------------------*/

h2.registrant-name-hdr {
    color: #303030;
}
div.reg-process h2.reg-sub-header {
    border-bottom: solid 2px #303030;
    color: #303030;
    font-weight: normal;
    font-size: 1.6em;
}
div.reg-second-hdr-container {
    border-bottom: solid 1px #000;
}
div.reg-second-header span {
    font-style: italic;
    font-weight: bold;
}
div.reg-third-header span {
    font-style: italic;
    color: #4b2e83;
    font-weight: bold;
}
/*Reg Form Fields*/

div.reg-field-container {
    padding: 0;
}
div.reg-field-right-column input {
    border: solid 1px #ccc;
}
.reg-required-field,
div.question-req div.question span.question-text,
div.question-req div.question label.question-text,
span.RequiredMarker1,
.reg-required-field label,
div.reg-required-field,
div.reg-process-content div.reg-questions div.question-req div.question span.question-text,
div.reg-process-content div.reg-questions div.question-req div.question span.required-star {
    color: #cc0000;
}
/* Question Redesign Required Fields */

.question-text-req,
.FormLabelReq {
    color: #CC0000;
}
div.question-req span.question-text-req,
div.question-req label.question-text-req {
    color: #CC0000;
}
div.question-req div.question span.required-star {
    color: #CC0000;
}
div.question-req div.question span.question-text,
div.question-req div.question label.question-text {
    color: #CC0000;
}
span.required-star {
    color: #CC0000;
}
/*Reg Table Styles*/

div.reg-table table {
    border-top: solid 1px #303030;
    border-left: solid 1px #303030;
}
div.reg-table table tr th {
    background: #CBCBCB;
    border-bottom: solid 1px #303030;
    border-right: solid 1px #303030;
    font-weight: bold;
}
div.reg-table table tr td {
    border-bottom: solid 1px #303030;
    border-right: solid 1px #303030;
}
div.reg-table table tfoot tr td {
    border-bottom: solid 1px #303030;
}
div.reg-table table tr.alt-row {
    background: #CBCBCB;
}
div.reg-table table tfoot tr td input {
    border: solid 1px #ccc;
}
/*Invitee More People*/

div.invite-field input {
    border: solid 1px #ccc;
    font-weight: bold;
    font-size: 1em;
    color: #303030;
}
.ui-accordion .ui-state-focus {
    background: none;
}
/*Distribution Lists*/

div.reg-event-distribution div.reg-field-container label {
    font-weight: bold;
}
/*Simple Session Reg / Matrix Page*/

div.session-list-row p {
    font-weight: bold;
}
.date,
.time,
.price,
.speaker-name {
    font-weight: normal;
}
div.session-content {
    border-left: solid 1px #303030;
    border-right: solid 1px #303030;
    border-bottom: solid 1px #303030;
}
div.session-group-container h4 {
    font-weight: bold;
}
div.session-group-container ul.session-groups li {
    padding: 10px 0;
}
div.optional-items {
    border-left: solid 1px #303030;
    border-right: solid 1px #303030;
    border-bottom: solid 1px #303030;
}
ul.session-groups li label span.group-session-name {
    font-weight: bold;
}
div.optional-items div.optional-content p.order-info {
    font-weight: bold;
    font-style: italic;
}
div.optional-items input[type=text] {
    border: solid 1px #ccc;
}
div.order-info h4 {
    margin: 0 0 5px 0;
}
div.session-description {
    color: #303030;
}
/*Advanced Reg Matrix Page / Agenda Builder*/

div.search-critera {
    font-style: italic;
}
div.search-critera ul li span {
    font-weight: bold;
}
/*Search - Agenda Builder*/

div.agenda-advanced-search span.active {
    background: #fff;
    border-top: solid 1px #303030;
    border-left: solid 1px #303030;
    border-right: solid 1px #303030;
}
div.agenda-advanced-search-content {
    background: #fff;
    border: solid 1px #303030;
}
/*Matrix Headers*/

div.reg-matrix-header {
    border: solid 1px #303030;
    background: #595959;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr '#CBCBCB', endColorstr '#595959');
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#CBCBCB', endColorstr = '#595959')";
    background-image: -moz-linear-gradient(top, #CBCBCB, #595959);
    background-image: -ms-linear-gradient(top, #CBCBCB, #595959);
    background-image: -o-linear-gradient(top, #CBCBCB, #595959);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#CBCBCB), to(#595959));
    background-image: -webkit-linear-gradient(top, #CBCBCB, #595959);
    background-image: linear-gradient(top, #CBCBCB, #595959);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#CBCBCB', endColorstr='#595959', GradientType=0);
    /* IE6-9 */
}
div.reg-matrix-btn {
    font-weight: bold;
    background: #cccccc;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr '#ffffff', endColorstr '#cccccc');
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#cccccc')";
    background-image: -moz-linear-gradient(top, #ffffff, #cccccc);
    background-image: -ms-linear-gradient(top, #ffffff, #cccccc);
    background-image: -o-linear-gradient(top, #ffffff, #cccccc);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#ffffff), to(#cccccc));
    background-image: -webkit-linear-gradient(top, #ffffff, #cccccc);
    background-image: linear-gradient(top, #ffffff, #cccccc);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#cccccc', GradientType=0);
    /* IE6-9 */
}
div.reg-matrix-header h3,
span.simple-matrix-price,
span.simple-matrix-time {
    color: #fff;
}
div.reg-matrix-btn span a {
    color: #333;
    font-size: 1em;
}
div.reg-matrix-btn span a:hover {
    text-decoration: underline;
}
/*Reg Payment Page*/

div.payment-total-container p.payment-total {
    font-weight: bold;
    font-size: 1.2em;
}
/*Vew Sessions Modal*/

h2.session-title {
    color: #303030;
    border-bottom: solid 1px #303030;
    text-align: left;
    font-size: 1.8em;
}
div.view-session-container h3 {
    border-bottom: solid 1px #303030;
    color: #303030;
}
div.view-session-container h4 {
    font-style: italic;
    color: #4b2e83;
    font-weight: bold;
    font-size: 1em;
}
div.view-session-container p.session-time {
    font-weight: bold;
}
/* 1-on-1 Appointments
----------------------------------------------------------------*/
/* Appointment Details */

.appt-details .attendee {
    border-color: #CBCBCB;
}
.appt-details .attendee div.info {
    background: #CBCBCB;
}
.appt-details .attendee dl {
    border-color: #CBCBCB;
}
.appt-details .attendee dl dt {
    border-color: #CBCBCB;
}
.appt-details .attendee dl dd {
    border-color: #CBCBCB;
}
.appt-details .content-block.email-message {
    border-top: 1px dashed #cccccc;
}
.question span.question-text a {
    font-weight: normal;
    text-transform: none;
    letter-spacing: normal;
}
.appt-details .question-text {
    color: #4b2e83;
    font-weight: bold;
}
/* Select a Session */

.select-session ul li {
    border: 1px solid;
}
.select-session .alternate-row {
    background: #CBCBCB;
}
/* Attendees Search Window */

.appt-modal {
    padding: 0 !important;
    background: inherit;
}
.search-attendees h2.section-header {
    background: url("images/section_header_wide.png") no-repeat left bottom;
}
/* Cancel Appointment Window */

.cancel-appt .appt-title {
    color: #4b2e83;
    font-weight: bold;
}
/* My Registration Redesign
----------------------------------------------------------------*/
/*header styles*/

h3.guest-name {
    background: #CBCBCB;
}
/*My Confirmation Page*/

.registrant-container {
    border: solid 1px #303030;
}
/*Drop down styles*/

ul.confirmation-dropdown-menu {
    background: #CBCBCB;
    border: solid 1px #303030;
}
.group-reg-dropdown {
    background: #CBCBCB;
}
ul.reg-dropdown-buttons {
    background: #CBCBCB;
    border: solid 1px #303030;
}
.request-info {
    border: dotted 1px #303030;
}
/*Tables*/

table.my-reg-table thead tr {
    background: #CBCBCB;
}
.order-summary-total {
    border-top: solid 1px #303030;
}
/* Group Flights
----------------------------------------------------------------*/

.group-flight-tabs ul.flight-tabs li {
    border-top: solid 1px #303030;
    border-left: solid 1px #303030;
    border-right: solid 1px #303030;
}
.group-flight-tabs ul.flight-tabs li a {
    text-decoration: none;
}
.group-flight-tabs ul li a:hover {
    text-decoration: underline;
}
.group-flight-tabs ul.flight-tabs li.ui-tabs-active {
    background: #ffffff;
}
.group-flight-content {
    border: solid 1px #303030;
    background: #ffffff;
}
.group-flight-info {
    border-left: solid 1px #303030;
    border-top: solid 1px #303030;
    border-right: solid 1px #303030;
}
.group-flight-airports-hdr {
    overflow: hidden;
    padding: 10px;
    background: #595959;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr '#CBCBCB', endColorstr '#595959');
    -ms-filter: "progid: DXImageTransform.Microsoft.gradient(startColorstr = '#CBCBCB', endColorstr = '#595959')";
    background-image: -moz-linear-gradient(top, #CBCBCB, #595959);
    background-image: -ms-linear-gradient(top, #CBCBCB, #595959);
    background-image: -o-linear-gradient(top, #CBCBCB, #595959);
    background-image: -webkit-gradient(linear, center top, center bottom, from(#CBCBCB), to(#595959));
    background-image: -webkit-linear-gradient(top, #CBCBCB, #595959);
    background-image: linear-gradient(top, #CBCBCB, #595959);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#CBCBCB', endColorstr='#595959', GradientType=0);
    /* IE6-9 */
}
.group-flight-airports label,
.group-flight-airports span {
    color: #fff;
}
.group-flight-airports-body table.flight-info {} table.flight-info tbody tr td {
    border-bottom: solid 1px #303030;
}
table.flight-info tbody tr.alt-row {
    background: #CBCBCB;
}
table.flight-info tbody tr td.group-flights-cost {
    border-left: solid 1px #303030;
}